<div class="d-flex justify-content-end">
  <p class="p-2 bg-success rounded text-right">
    <span class="text-white"><%= message %></span>
    <br>
    <small class="text-muted">自分</small>
  </p>
</div>